NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_API_KEY=your_api_key_here
NEXT_PUBLIC_WEBSITE=    
NEXT_PUBLIC_STRIPE_SECRET_KEY=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6Lc62KsrAAAAAMnK1wT56HHv8fPGikUvkxm_IWz3