@import "tailwindcss";

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 20px !important;
  color: #fff;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px !important;
    color: #fff;
}

.topHeader{
box-shadow: inset 0 40px 20px rgba(0,0,0,0.7);   /* top edge */
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* Dark background for track (gray-800) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ef4444; /* Red color */
  border-radius: 10px;
  border: 2px solid #1f2937; /* Padding around the thumb */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ef4444 #1f2937;
}

.swiper-button-prev:focus-visible,
.swiper-button-next:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
  border-radius: 9999px;
}

*:focus,
*:focus-visible {
  outline: none !important;
}