@import "tailwindcss";

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 20px !important;
  color: #fff;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px !important;
    color: #fff;
}
